# .gitignore

# Exclude IDE and editor-specific files
/.mvn/wrapper/maven-wrapper.jar
!.mvn/wrapper/maven-wrapper.jar
/.mvn/
!.mvn/
/.mvn/**/
!/.mvn/**/maven-wrapper.jar

# Exclude build directories within source directories
**/src/main/**/target/
!**/src/main/**/
!**/src/main/**/target/**
**/src/test/**/target/
!**/src/test/**/
!**/src/test/**/target/**